:root {
  --font: #f2f2f2;
  --font2: #d9d9d9;
  --font3: #0f1b27;
  --font4: #bfafaf;
  --font5: #0d0d0d;
}

body {
  background-color: var(--font3);
}

header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 300%;
  padding: 2%;
  color: var(--font);
}

.stephen {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 250%;
}

.aboutme {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 120%;
  text-shadow: var(--font5);
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--font2);
}

#footerlinks {
  padding-top: 2%;
  padding-bottom: 2%;
}

#footerlinks ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: var(--font);
}

#footerlinks li {
  float: left;
  font-size: large;
}

#footerlinks li a {
  display: block;
  color: var(--font3);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
}

#footerlinks li a:hover {
  background-color: var(--font3);
  color: var(--font2);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--font);
}

li {
  float: right;
  font-size: large;
}

li a {
  display: block;
  color: var(--font3);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
}

li a:hover {
  background-color: var(--font3);
  color: var(--font2);
}

#github {}